In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('data/data.csv')
data.head(5)

,authorName,googleMapsPlaceId,placeAddress,placeName,placeUrl,provider,reviewDate,reviewId,reviewImages/0,reviewImages/1,...,reviewImages/10,reviewImages/11,reviewImages/12,reviewImages/13,reviewImages/14,reviewImages/15,reviewRating,reviewText,reviewTitle,reviewUrl
0,Matthew Mraz,ChIJFcrad0_1wokRgswE_VOwb4o,"12 Vandam St, New York, NY 10013",Torch & Crown Brewing Company,https://www.google.com/maps/search/?api=1&quer...,google-maps,2025-03-04T20:13:54.252Z,ChZDSUhNMG9nS0VJQ0FnTUNRZ1pxUFZnEAE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,"Love that they brew in Manhattan, plus brews a...",NaN,https://www.google.com/maps/reviews/data=!4m8!...
1,James Lopez,ChIJCb9dhqVbwokRRWJzMd-IdYk,"623 Sackett St, Brooklyn, NY 11217",Wild East Brewing Co.,https://www.google.com/maps/search/?api=1&quer...,google-maps,2025-03-21T21:34:57.554Z,ChZDSUhNMG9nS0VJQ0FnTUN3dDVDZUl3EAE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,https://www.google.com/maps/reviews/data=!4m8!...
2,David Monroy,ChIJix9FO6lbwokRkZyFzr3vOeg,"82 Prospect St, Brooklyn, NY 11201",Randolph Beer,https://www.google.com/maps/search/?api=1&quer...,google-maps,2025-03-23T00:02:15.222Z,ChdDSUhNMG9nS0VJQ0FnTUR3OElYQXVRRRAB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,https://www.google.com/maps/reviews/data=!4m8!...
3,Erik Ranke,ChIJ56J9GJFZwokRdJwuF-USZIs,"600 5th Ave A2, New York, NY 10020",Other Half Brewing - Rockefeller Center Taproom,https://www.google.com/maps/search/?api=1&quer...,google-maps,2025-03-19T15:10:49.677Z,ChdDSUhNMG9nS0VJQ0FnTUN3OGFTRDZnRRAB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,https://www.google.com/maps/reviews/data=!4m8!...
4,Alex Roberts,ChIJHyyKXk1bwokRDAN8dgCuOTw,"445 Gold St, Brooklyn, NY 11201",Sixpoint Brewery at City Point,https://www.google.com/maps/search/?api=1&quer...,google-maps,2025-03-14T16:56:14.286Z,ChdDSUhNMG9nS0VJQ0FnTURRdTkyX3dnRRAB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,Sixpoint is great! If you find yourself in the...,NaN,https://www.google.com/maps/reviews/data=!4m8!...

In [5]:
def df_info(df):
    print(f"Data Shape: {df.shape}")
    df_chack = pd.DataFrame(df.dtypes, columns=['dtypes'])
    df_chack = df_chack.reset_index()
    df_chack['name'] = df_chack['index']
    df_chack = df_chack[['name', 'dtypes']]
    df_chack['isnull'] = df.isnull().sum().values
    df_chack['% null'] = round((df_chack['isnull']/len(df))*100,2)
    df_chack['num_unique'] = df.nunique().values
    df_chack['first_value'] = df.values[0]
    return df_chack

In [6]:
df_info(data)

Data Shape: (182, 28)

,name,dtypes,isnull,% null,num_unique,first_value
0,authorName,object,0,0.00,180,Matthew Mraz
1,googleMapsPlaceId,object,0,0.00,170,ChIJFcrad0_1wokRgswE_VOwb4o
2,placeAddress,object,0,0.00,180,"12 Vandam St, New York, NY 10013"
3,placeName,object,0,0.00,171,Torch & Crown Brewing Company
4,placeUrl,object,0,0.00,182,https://www.google.com/maps/search/?api=1&quer...
5,provider,object,0,0.00,2,google-maps
6,reviewDate,object,0,0.00,182,2025-03-04T20:13:54.252Z
7,reviewId,object,0,0.00,182,ChZDSUhNMG9nS0VJQ0FnTUNRZ1pxUFZnEAE
8,reviewImages/0,object,143,78.57,39,NaN
9,reviewImages/1,object,161,88.46,21,NaN
10,reviewImages/2,object,166,91.21,16,NaN
11,reviewImages/3,object,170,93.41,12,NaN
12,reviewImages/4,object,173,95.05,9,NaN
13,reviewImages/5,object,174,95.60,8,NaN
14,reviewImages/6,object,175,96.15,7,NaN
15,reviewImages/7,object,175,96.15,7,NaN
16,reviewImages/8,object,178,97.80,4,NaN
17,reviewImages/9,object,178,97.80,4,NaN
18,reviewImages/10,object,180,98.90,2,NaN
19,reviewImages/11,object,180,98.90,2,NaN
20,reviewImages/12,object,181,99.45,1,NaN
21,reviewImages/13,object,181,99.45,1,NaN
22,reviewImages/14,object,181,99.45,1,NaN
23,reviewImages/15,object,181,99.45,1,NaN
24,reviewRating,int64,0,0.00,5,5
25,reviewText,object,54,29.67,128,"Love that they brew in Manhattan, plus brews a..."
26,reviewTitle,object,170,93.41,12,NaN
27,reviewUrl,object,0,0.00,182,https://www.google.com/maps/reviews/data=!4m8!...