In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('reviews.db') 
cursor = conn.cursor()

In [7]:
df = pd.read_csv('/workspaces/Rreview_Analyzer/data/cleaned_data_no_images.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7244 entries, 0 to 7243
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   authorName         7243 non-null   object
 1   googleMapsPlaceId  7244 non-null   object
 2   placeAddress       7244 non-null   object
 3   placeName          7244 non-null   object
 4   placeUrl           7244 non-null   object
 5   provider           7244 non-null   object
 6   reviewDate         7244 non-null   object
 7   reviewRating       5210 non-null   float64
 8   reviewText         7238 non-null   object
 9   reviewTitle        1832 non-null   object
 10  reviewUrl          4761 non-null   object
 11  sentiment          7244 non-null   object
 12  label              7244 non-null   int64
dtypes: float64(1), int64(1), object(11)
memory usage: 735.8+ KB

In [8]:
table_name = 'reviews'

columns_with_types = ", ".join([f"{col.replace(' ', '_')} TEXT" for col in df.columns]) # Eg: page_id TEXT, name TEXT, urslug TEXT, ...
create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ({columns_with_types});"

cursor.execute(create_table_query)
cursor.fetchall()

[]

In [9]:
cursor.execute('pragma table_info(reviews);')
cursor.fetchall()

[(0, 'authorName', 'TEXT', 0, None, 0),
 (1, 'googleMapsPlaceId', 'TEXT', 0, None, 0),
 (2, 'placeAddress', 'TEXT', 0, None, 0),
 (3, 'placeName', 'TEXT', 0, None, 0),
 (4, 'placeUrl', 'TEXT', 0, None, 0),
 (5, 'provider', 'TEXT', 0, None, 0),
 (6, 'reviewDate', 'TEXT', 0, None, 0),
 (7, 'reviewRating', 'TEXT', 0, None, 0),
 (8, 'reviewText', 'TEXT', 0, None, 0),
 (9, 'reviewTitle', 'TEXT', 0, None, 0),
 (10, 'reviewUrl', 'TEXT', 0, None, 0),
 (11, 'sentiment', 'TEXT', 0, None, 0),
 (12, 'label', 'TEXT', 0, None, 0)]

In [11]:
for index, row in df.iterrows():
    # Prepare column names and placeholders
    columns = ", ".join([col.replace(' ', '_') for col in df.columns])
    placeholders = ", ".join(["?" for _ in df.columns])
    
    # Prepare the SQL query
    insert_sql = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"
    
    # Execute the query with parameterized values
    cursor.execute(insert_sql, tuple(row))

In [12]:
df.shape

(7244, 13)

In [13]:
cursor.execute('SELECT COUNT(*) FROM reviews')
cursor.fetchall()

[(7608,)]